h1 {
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 92px;
  margin: 0
}

h2 {
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 42px;
  margin: 0
}

p {
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
}

.background {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
}

.weather-app {
  width: 400px;
  height: 900px;
  margin: 40px;
  box-shadow: 10px 10px 15px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.weather-overview {
  width: 100%;
  height: 500px;
  background-color: rgb(91, 103, 113);
  margin: 0;
}

.overview-degrees {
  margin: 100px 0px 0px 50px;
}

.overview-city {
  margin: 20px 0px 0px 50px;

}

.overview-time {
  margin: 10px 0px 0px 50px;
}

.overview-description-icon {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 50px;
}

.overview-description-icon img {
  width: 64px;
  height: 64px;
  margin-left: 10px;
}

.change-city-button {
  position: absolute;
  top: 420px;
  right: 20px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  background-color: rgb(97, 133, 174);
  cursor: pointer;
}

.weekly-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.weekly-info p {
  color: rgb(116, 116, 116);
}

.day-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}